.niveis {
    margin-top: 3rem;

    background-image: url('./../../src/img/bg/BG01-Afiliados.png'), url('./../../src/img/bg/BG01-Afiliados.png'), url('./../../src/img/bg/BG01-Afiliados.png');
    // background-image: url('./../../src/img/bg/BG01-Afiliados.png');
    // background-position: -162rem 1%;
    background-position: -162rem 1%, -172rem 106%, 76rem 62%;
    background-repeat: no-repeat;

    @media screen and (min-width:1366px) {
        margin-top: 6rem;
    }

    h2 {
        color: var(--grey);
        font-size: 32px;
        margin-bottom: 4rem;

        @media screen and (max-width:1366px) {
            font-size: 20px;
        }
    }

    .card {
        background: rgba(20, 20, 20, 0.7);
        border-radius: 20px;
        border: solid 1px #6D6D6D;



        .card-title {
            color: var(--grey);
            font-size: 22px;

            @media screen and (min-width:768px) {
                font-size: 26px;
            }

            @media screen and (min-width:1366px) {
                font-size: 30px;
            }
        }

        .card-text {
            color: var(--grey-30);
            font-size: 14px;
            // line-height: 30px;


            @media screen and (min-width:768px) {
                font-size: 22px;
                line-height: normal;
            }

            @media screen and (min-width:1366px) {
                font-size: 24px;
                line-height: normal;
            }

            &:last-child {
                small.text-muted{

                    color: var(--grey-60);
                    font-size: 12px;
                    line-height: normal;

                    @media screen and (min-width:1366px) {
                        font-size: 16px;
                    }
                }

            }
        }

        &>.no-gutters {
            .col-md-8 {
                display: flex;
                align-items: center;
            }
        }


        &.premio {
            .card-body {
                padding-bottom: 0;
                padding-top: 0;



                @media screen and (min-width:1366px) {
                    height: 18rem;


                    &.nvlLendario {
                        height: 28.125rem;
                    }
                }

                img {
                    @media screen and (min-width:1366px) {
                        transform: translateY(-24%);
                        position: relative;
                    }


                    &.premioDois {
                        @media screen and (min-width:1366px) {
                            transform: translateY(-37.5%);
                            position: relative;
                        }
                    }

                    &.premioDima {
                        height: 100%;
                        width: 100%;

                        border-radius: 20px;

                        @media screen and (min-width:1366px) {}

                        @media screen and (min-width:1366px) {
                            transform: translateY(0%);
                            position: relative;
                        }
                    }

                    &.premioMestre {
                        border-radius: 30px;

                        @media screen and (min-width:1366px) {
                            transform: translateY(-40%);
                            position: relative;
                            border-radius: 20px;
                        }
                    }

                    &.premioLendario {
                        transform: translateY(0%);
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                    }
                }
            }
        }

        .nivelCard {
            width: 100%;
            height: 100%;
        }


    }

    // .dolar_um {}


    .row.mb-5 {
        overflow-y: hidden;
    }

    .card-blur-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit; // Pega o mesmo background do body ou seção pai
        // filter: blur(10px); // Aplica o desfoque ao background
        z-index: 1; // Para ficar atrás dos itens de conteúdo
        backdrop-filter: blur(20px);
        border-radius: 21px;
    }

    .no-gutters {
        position: relative;
        z-index: 2;
    }

    .cardNivel3 {
        z-index: 0;

        @media screen and (min-width:1366px) {
            min-height: 423px;

            .card-body {
                min-height: 423px;

            }
        }

    }

    .imgAviao {

        position: absolute;
        z-index: 3;
        /* height: 264px; */
        width: 480px;
        left: 38%;
        transform: translateY(278%);
        /* bottom: -50rem;*/
    }

    .dolarUm {
        position: absolute;
        z-index: 3;
        width: 9rem;
        transform: translate(-3%, 660%);

        @media screen and (min-width:768px) {
            transform: translate(-6%, 184%);
            width: 16rem;
        }

        @media screen and (min-width:1024px) {
            transform: translate(10%, 225%);
        }
    }

    .dolarDois {
        position: absolute;
        z-index: 1;
        width: 9rem;
        transform: translate(193%, 806%);


        @media screen and (min-width:768px) {
            transform: translate(208%, 255%);
        }

        @media screen and (min-width:1024px) {
            transform: translate(400%, 508%);
        }

        @media screen and (min-width:1366px) {
            transform: translate(490%, 647%);
        }
    }

    .text-muted {
        color: var(--grey-60) !important;
    }
}