:root {
  --grey: #F4F4F4;
  --grey-30: #B9B9B9;
  --grey-50: #262626;
  --grey-60: #848484;
  --black-80: #141414;
  --orange: #F08022;
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("../fonts/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url("../fonts/SpaceGrotesk-Light.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("../fonts/SpaceGrotesk-Medium.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("../fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: url("../fonts/SpaceGrotesk-SemiBold.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SpaceGrotesk-bold";
}

p,
a,
ul,
li,
span {
  font-family: "SpaceGrotesk-Regular";
}

.hero {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
@media screen and (min-width: 1366px) {
  .hero {
    background: url("./../../src/img/bg/hero.png");
    background-size: cover;
    display: flex;
    align-items: center;
    background-position-y: -6rem;
  }
}
.hero .tinta_hero {
  position: absolute;
  height: 100%;
  max-height: 40rem;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  max-width: 100vw;
  width: 100%;
}
.hero h1 {
  color: var(--grey);
  font-size: 56px;
}
@media screen and (max-width: 1366px) {
  .hero h1 {
    font-size: 22px;
  }
}
.hero p {
  color: var(--grey-30);
  font-size: 26px;
}
@media screen and (max-width: 1366px) {
  .hero p {
    font-size: 18px;
  }
}
.hero p:last-child {
  font-size: 22px;
}
@media screen and (max-width: 1366px) {
  .hero p:last-child {
    font-size: 14px;
  }
}
.hero .btn.btn-hero {
  background: var(--orange);
  color: var(--grey);
  font-size: 26px;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 0.9rem 6rem;
  margin-top: 1rem;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1366px) {
  .hero .btn.btn-hero {
    padding: 0.9rem 0;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }
}
.hero .btn.btn-hero:hover {
  transform: scaleX(0.9);
}
.hero img.carro {
  z-index: -1;
}
.niveis {
  margin-top: 3rem;
  background-image: url("./../../src/img/bg/BG01-Afiliados.png"), url("./../../src/img/bg/BG01-Afiliados.png"), url("./../../src/img/bg/BG01-Afiliados.png");
  background-position: -162rem 1%, -172rem 106%, 76rem 62%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1366px) {
  .niveis {
    margin-top: 6rem;
  }
}
.niveis h2 {
  color: var(--grey);
  font-size: 32px;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1366px) {
  .niveis h2 {
    font-size: 20px;
  }
}
.niveis .card {
  background: rgba(20, 20, 20, 0.7);
  border-radius: 21px;
  border: solid 1px #6D6D6D;
}
.niveis .card .card-title {
  color: var(--grey);
  font-size: 30px;
}
@media screen and (max-width: 1366px) {
  .niveis .card .card-title {
    font-size: 18px;
  }
}
.niveis .card .card-text {
  color: var(--grey-30);
  font-size: 22px;
  line-height: 30px;
}
@media screen and (max-width: 1366px) {
  .niveis .card .card-text {
    font-size: 12px;
    line-height: normal;
  }
}
.niveis .card .card-text:last-child {
  color: var(--grey-60);
  font-size: 16px;
  line-height: normal;
}
@media screen and (max-width: 1366px) {
  .niveis .card .card-text:last-child {
    font-size: 12px;
  }
}
.niveis .card > .no-gutters .col-md-8 {
  display: flex;
  align-items: center;
}
.niveis .card.premio .card-body {
  padding-bottom: 0;
  padding-top: 0;
}
@media screen and (min-width: 1366px) {
  .niveis .card.premio .card-body {
    height: 15.125rem;
  }
  .niveis .card.premio .card-body.nvlLendario {
    height: 28.125rem;
  }
}
@media screen and (min-width: 1366px) {
  .niveis .card.premio .card-body img {
    transform: translateY(-36%);
    position: relative;
  }
}
@media screen and (min-width: 1366px) {
  .niveis .card.premio .card-body img.premioDois {
    transform: translateY(-48%);
    position: relative;
  }
}
.niveis .card.premio .card-body img.premioDima {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
@media screen and (min-width: 1366px) {
  .niveis .card.premio .card-body img.premioDima {
    transform: translateY(0%);
    position: relative;
  }
}
.niveis .card.premio .card-body img.premioMestre {
  border-radius: 30px;
}
@media screen and (min-width: 1366px) {
  .niveis .card.premio .card-body img.premioMestre {
    transform: translateY(-48%);
    position: relative;
  }
}
.niveis .card.premio .card-body img.premioLendario {
  transform: translateY(0%);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.niveis .card .nivelCard {
  width: 100%;
  height: 100%;
}
.niveis .row.mb-5 {
  overflow-y: hidden;
}
.niveis .card-blur-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: 1;
  backdrop-filter: blur(20px);
}
.niveis .no-gutters {
  position: relative;
  z-index: 2;
}
.niveis .cardNivel3 {
  z-index: 0;
}
@media screen and (min-width: 1366px) {
  .niveis .cardNivel3 {
    min-height: 423px;
  }
  .niveis .cardNivel3 .card-body {
    min-height: 423px;
  }
}
.niveis .imgAviao {
  position: absolute;
  z-index: 3;
  /* height: 264px; */
  width: 480px;
  left: 41%;
  transform: translateY(278%);
  /* bottom: -50rem;*/
}
.niveis .dolarUm {
  position: absolute;
  z-index: 3;
  width: 16rem;
  transform: translate(-6%, 310%);
}
@media screen and (min-width: 768px) {
  .niveis .dolarUm {
    transform: translate(-6%, 184%);
  }
}
@media screen and (min-width: 1024px) {
  .niveis .dolarUm {
    transform: translate(10%, 225%);
  }
}
.niveis .dolarDois {
  position: absolute;
  z-index: 1;
  width: 16rem;
  transform: translate(86%, 443%);
}
@media screen and (min-width: 768px) {
  .niveis .dolarDois {
    transform: translate(208%, 255%);
  }
}
@media screen and (min-width: 1024px) {
  .niveis .dolarDois {
    transform: translate(249%, 338%);
  }
}

@media (max-width: 1196px) {
  .coon {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 1196px) {
  .hid_mobile {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 1196px) {
  .coon {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .row_two {
    display: flex;
    flex-direction: row;
    gap: 9px;
  }
  .width-546px {
    width: 546px;
  }
  .width-100 {
    width: 100%;
  }
  .hid {
    display: none;
    visibility: hidden;
  }
  .hid_mobile {
    display: block;
    visibility: visible;
  }
  .max-width-370px {
    max-width: 370px;
  }
  .min-width-546px {
    min-width: 546px;
  }
  .width-316px {
    max-width: 316px;
  }
  .gap-12px {
    gap: 122px;
  }
  .dflex {
    display: flex;
  }
  .d-flex_mobile {
    display: flex;
  }
  .mb-12px {
    margin-bottom: 12px;
  }
  .ft-14px {
    font-size: 14px;
  }
  .ft-16px {
    font-size: 16px;
  }
  .ft-8px {
    font-size: 8px;
  }
  .ft-space {
    font-family: SpaceGrotesk-Medium;
  }
  .w-106px {
    width: 106px;
  }
  .h-43px {
    height: 43px;
  }
  .remove-margin-desktop {
    margin: 0;
  }
  .width-320px {
    width: 320px;
  }
  .height-44 {
    height: 44px;
  }
  .width-491px {
    width: 491px;
  }
  .aligh-center {
    align-items: center;
  }
  .mr-127px {
    margin-right: 127px;
  }
  .height-43 {
    height: 43px;
  }
  .width-316px-real {
    width: 316px;
  }
  .containerr {
    /* width: 1,013px; */
    width: 100%;
    padding: 40px 0 !important;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .slidestyle {
    position: relative;
    width: 100% !important;
    /* height: 100% !important; */
    /* background-color: blanchedalmond; */
    /* margin: 0px 7px !important; */
    border-radius: 40px !important;
    /* aspect-ratio: 3/4; */
  }
  .slider-container {
    width: 385px !important;
    height: 542px;
  }
  .swiper-slide {
    height: auto !important;
  }
  .slidestyle img {
    width: 100%;
    /* Make the image fill the container width */
    height: 100%;
    /* Make the image fill the container height */
    object-fit: cover;
    /* Ensure the image covers the container without overflow */
    object-position: center;
    /* Center the image within the container */
    border-radius: 40px !important;
  }
  .pagination-container {
    position: relative;
    width: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pag-flex {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .remove-position {
    position: initial !important;
    width: 120px !important;
    margin-left: 19px;
    margin-right: 19px;
    display: flex !important;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #FFFFFF !important;
  }
  .swiper-pagination-bullet-active {
    background: #DE8734 !important;
  }
  .fts-8px {
    cursor: pointer;
  }
}
.ft-space {
  font-family: SpaceGrotesk-Medium;
}

.containerr-mobile {
  /* width: 1,013px; */
  width: 100%;
  /* min-height: 429px; */
  padding-top: 40px !important;
  padding-right: 14px;
  padding-left: 14px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slidestyle {
  position: relative;
  width: 100% !important;
  /* height: 100% !important; */
  /* background-color: blanchedalmond; */
  /* margin: 0px 7px !important; */
  border-radius: 40px !important;
  /* aspect-ratio: 3/4; */
}

.slider-container-mobile {
  width: 218px !important;
  height: 269px;
}

.swiper-slide {
  height: auto !important;
}

.slidestyle img {
  width: 100%;
  /* Make the image fill the container width */
  height: 100%;
  /* Make the image fill the container height */
  object-fit: cover;
  /* Ensure the image covers the container without overflow */
  object-position: center;
  /* Center the image within the container */
  border-radius: 40px !important;
}

.pre,
.nex {
  display: flex;
  justify-content: center;
}

.pagination-container {
  position: relative;
  width: 232px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #DE8734 !important;
}

.pag-flex {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.remove-position {
  position: initial !important;
  width: 120px !important;
  margin-left: 19px;
  margin-right: 19px;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background: #FFFFFF !important;
}

.fts-8px {
  cursor: pointer;
}

section.carousel {
  position: relative;
  overflow: hidden;
}
section.carousel:before {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(./../../src/img/bg/BG01-Afiliados.png) no-repeat center center;
  background-size: cover;
  filter: blur(60px);
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  section.carousel:before {
    background-size: 50%;
    top: 0;
  }
}
section.carousel .container {
  z-index: 1;
}
section.carousel h2 {
  color: var(--grey);
}
section.carousel p {
  color: var(--grey-30);
  max-width: 26rem;
  margin: auto;
}
section.carousel .RowNiveis {
  justify-content: center;
}
section.carousel .nivel-card {
  position: relative;
  background-color: rgba(38, 38, 38, 0.5);
  border-radius: 10px;
  overflow: hidden;
}
section.carousel .nivel-card h5 {
  color: var(--grey-30);
  font-size: 16px;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  section.carousel .nivel-card h5 {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--black-80);
}

footer {
  background-color: var(--grey-50);
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--grey-30);
  font-size: 12;
}

/*# sourceMappingURL=index.css.map */
